:root {
	--alt_text: black;

	--main_bg: #1f1f1f;
	--main_text: #d8d8d8;

	--ui_block_bg: #343434;
	--ui_block_border: #414141;

    --ui_searchBar_bg: #303030;

	--ui-darkBlock_bg: #202020;
	--ui_darkBlock_border: #505050;

	/* UI icons */

	--ui_icon: invert(100%) sepia(0%) saturate(6044%) hue-rotate(212deg)
		brightness(86%) contrast(95%); /* #d8d8d8 */

	--ui_icon__hover: invert(68%) sepia(25%) saturate(23%) hue-rotate(317deg)
		brightness(96%) contrast(98%); /* #b0b0b0 */

	--ui_icon__active: invert(52%) sepia(2%) saturate(28%) hue-rotate(341deg)
		brightness(96%) contrast(88%); /* #808080 */

	/* Form buttons */

	--fb_green: #00a347;

	--fb_green__hover: #02833a;

	--fb_green__active: #006b2e;

	--fb_red: #fd2828;

	--fb_red__hover: #d10000;

	--fb_red__active: #a50000;

	--fb_blue: #0067c7;

	--fb_blue__hover: #005bb1;

	--fb_blue__active: #004b91;

	--fb_yellow: #ff9300;

	--fb_yellow__hover: #d87e00;

	--fb_yellow__active: #c77400;
}