@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea,
select,
option,
input,
body {
  border: none;
  outline: none;
  font-family: "Montserrat";
}

/* Re-usable globals */

.scrollArea {
  overflow-y: auto;
  overflow-x: hidden;
}

.fullScreen {
  height: 100vh;
  overflow: hidden;
}

.fullScreen__header {
  overflow: hidden;
  height: calc(100vh - 50px);
}

/* Re-usable UI misc */

.formButton__alt {
  color: black;
}

.formButton:hover {
  cursor: pointer;
  transition: 0.15s background-color;
}

.block {
  padding: 12px;
  border-radius: 10px;
}

.filler {
  flex: 1 1 auto;
}