@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

textarea, select,
option, input,
body {
	border: none;
	outline: none;
	font-family: "Montserrat";
}

body {
	color: var(--main_text);
	background-color: var(--main_bg);
}

/* Re-usable globals */

.fullScreen {
	height: 100vh;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}