/* UI buttons styles */

.ui-inlineButton {
	border-radius: 10px;
	padding: 2.5px 7.5px;
}

.submit-button {
	padding: 12px;
	text-align: center;
	border-radius: 16px;
}

.fb__fill > img {
	margin: auto;

	width: 18px;
	height: 18px;
}

.fb__fit {
	align-self: center;
	width: fit-content;
}

/* UI misc styles */

.preloader {
	width: auto;
	height: 32px;
}

.embed-image,
.embed-video {
	width: 100%;
	margin: 5px 0;
	border-radius: 7.5px;
}

.embed-link {
	text-decoration: none;
}

.embed-link:hover {
	text-decoration: underline;
}

.--no-paddings {
	padding: 0 !important;
	border-radius: 0 !important;
}