main {
    padding: 10px;
    grid-gap: 20px;
}

.scrollArea {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}


/* Mobile-adaptive styles */

@media all and (max-device-width: 400px) {
    header > .search-bar {
        display: none !important;
    }

    .mobile-menu > .search-bar {
        display: flex !important;
    }
}

@media all and (max-device-width: 500px) {
    .board-list {
        grid-template-columns: 100%;
    }
}

@media all and (max-device-width: 800px) {
    main {
        flex-direction: column;
    }

    .mobileMenu-button {
        display: block !important;
    }

    .main-menu {
        display: none;
    }

    .mobile-navbar {
        display: flex !important;
    }
}