main {
	padding: 10px;
	grid-gap: 20px;
}

.scrollArea {
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: row;
	padding-bottom: 15px;
	overflow-y: auto;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

/* Mobile-adaptive */

@media all and (max-device-width: 600px) {
	aside {
		display: none !important;
	}

	.navbar {
		display: flex !important;
	}
}