.block {
    display: flex;
    user-select: none;
    flex-direction: column;
}

.block:not(:first-child) {
    margin-top: 15px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}


.list,
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper {
    margin-top: 15px;
}

.list {
    grid-gap: 15px;
    overflow-x: auto;
}

.createClub {
    padding: 12px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px dashed orange;
}