.block {
	padding: 12px;
	display: flex;
	user-select: none;
	border-radius: 10px;
	flex-direction: column;
	background-color: var(--ui_block_bg);
	border: 1px solid var(--ui_block_border);
}

.block:not(:first-child) {
	margin-top: 15px;
}

.title {
	font-size: 18px;
	font-weight: 500;
}

.list,
.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wrapper {
	margin-top: 15px;
}

.list {
	grid-gap: 15px;
	overflow-x: auto;
}