.searchBar {
	margin-left: 15px;
	padding: 4px 7.5px;
	border-radius: 10px;
	border: 1px solid var(--ui_block_border);
	background-color: var(--ui_searchBar_bg);
}

.searchBar__full {
	width: 100%;
}

.searchBar > input {
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	color: var(--main_text);
	background-color: transparent;
}