.logo,
header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header {
	padding: 12px;
	user-select: none;
	background-color: var(--ui_block_bg);
	border-bottom: 1px solid var(--ui_block_border);
}

.header__alt {
	border-bottom: none;
	background-color: transparent;
}

/* App logo */

.logo:hover {
	cursor: pointer;
}

.logo > img {
	width: 24px;
	height: 24px;
}

.logo > span {
	font-size: 20px;
	font-weight: 600;
	margin-left: 7.5px;
}

/* Content filler */

.filler {
	flex: 1 1 auto;
}

/* Support link */

.links a {
	font-size: 13px;
}

/* Mobile-adaptive */

@media all and (min-device-width: 1300px) {
	header {
		padding: 7.5px 10% !important;
	}

	main {
		margin: 10px 10% !important;
	}
}

@media all and (min-device-width: 1600px) {
	header {
		padding: 7.5px 20% !important;
	}

	main {
		margin: 10px 20% !important;
	}
}

@media all and (min-device-width: 2000px) {
	header {
		padding: 7.5px 30% !important;
	}

	main {
		margin: 10px 30% !important;
	}
}