.row-block {
    display: flex;
    user-select: none;
    flex-direction: column;
}

.row-block:not(:first-child) {
    margin-top: 15px;
}

.row-title {
    font-size: 18px;
    font-weight: 500;
}


.row-list,
.list-tech {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-tech {
    margin-top: 15px;
}

.row-list {
    grid-gap: 15px;
    overflow-x: auto;
}

.create-club {
    padding: 12px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px dashed orange;
}