.screen {
	padding: 15px;
	display: flex;
	user-select: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.preview {
	width: 150px;
	height: 150px;
}

.title,
.formButton {
	text-align: center;
	margin-bottom: 15px;
}

.title {
	font-size: 35px;
	font-weight: 700;
}

.formButton {
	font-size: 20px;
	padding: 10px 25px;
	border-radius: 25px;
}
