.block {
	display: flex;
	margin-top: 15px;
	user-select: none;
	flex-direction: column;
}

.title {
	font-size: 18px;
	font-weight: 500;
}

.list {
	display: grid;
	grid-gap: 15px;
	margin-top: 15px;
	grid-template-columns: repeat(2, calc(50% - 7.5px));
}

.preloader {
	height: 40px;
	filter: var(--ui_icon);
}

.placeholder {
	font-size: 15px;
	white-space: nowrap;
	color: var(--ui_link);
}