.authButtons {
	display: flex;
	flex-direction: row;
}

.authButtons > .authButton:not(:first-child) {
	margin-left: 15px;
}

.authButton {
	font-weight: 500;
	padding: 3px 7.5px;
	border-radius: 5px;
	color: var(--alt_text);
	background-color: var(--fb_yellow);
}

.authButton:hover {
	cursor: pointer;
	transition: 0.15s background-color;
	background-color: var(--fb_yellow__hover);
}

.authButton:active {
	background-color: var(--fb_yellow__active);
}